allow isolated_app proc_pid_max:file { read };
allow isolated_app init:dir { getattr };
allow isolated_app kernel:dir { getattr };
allow isolated_app app_data_file:file { setattr };
