on property:sys.boot_completed=1
    # top-app
    write /dev/cpuset/top-app/uclamp.boosted 1
    write /dev/cpuset/top-app/uclamp.latency_sensitive 1

    # foreground
    write /dev/cpuset/foreground/uclamp.boosted 0
    write /dev/cpuset/foreground/uclamp.latency_sensitive 0

    # background
    write /dev/cpuset/background/uclamp.boosted 0
    write /dev/cpuset/background/uclamp.latency_sensitive 0

    # system-background
    write /dev/cpuset/system-background/uclamp.boosted 0
    write /dev/cpuset/system-background/uclamp.latency_sensitive 0
